@page "/"

<div class="intro">
    <h3 class="text-primary"><i class="fas fa-dice-d20"></i></h3>
    <h2 class="h2 mb-3">Blazing Roller</h2>

    <div class="intro-text mb-5">
        <div class="mb-3">This project was born out of a wish to improve the experience of my players while playing socially-distant (online) <i class="text-danger fab fa-d-and-d"></i> Dungeons & Dragons.</div>
        <div class="mb-3">Blazing Roller aims to improve your online dice throwing experience by visualizing your dice on a nice, shared, 3D virtual tabletop.</div>
        <div class="mb-3">
            <div>How it works:</div>
            <ol>
                <li>Click the link below</li>
                <li>Create a room</li>
                <li>Share the link to the room with your players</li>
                <li>Have fun</li>
            </ol>
        </div>
    </div>

    <div class="mb-5"><NavLink href="/create" class="btn btn-primary">Let's roll some dice already!</NavLink></div>

    <div class="intro-tech mb-5 text-muted">
        <small>
            <div>This project uses the following technologies and assets:</div>
            <ul>
                <li><a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1" target="_blank">ASP.NET Core 3.1</a></li>
                <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor Web Assembly</a></li>
                <li><a href="https://dotnet.microsoft.com/apps/aspnet/signalr" target="_blank">SignalR</a></li>
                <li><a href="https://unity.com/" target="_blank">Unity</a></li>
                <li><a href="https://assetstore.unity.com/packages/3d/props/animated-dice-142451" target="_blank">Animated Dice</a></li>
            </ul>
            <div>This application is hosted on <a href="https://azure.microsoft.com/en-us/" target="_blank">Microsoft Azure</a>.</div>
            <div>The whole project is open-source - all code and all non-paid assets are available at my <a href="https://github.com/mareklinka/blazing-roller" target="_blank">GitHub <i class="fab fa-github-square"></i></a>.</div>
            <div>If you have feedback or you found an issue, please <a href="https://github.com/mareklinka/blazing-roller/issues" target="_blank">report it over here <i class="fas fa-bug"></i></a>.</div>
        </small>
    </div>
</div>